<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<table>
  <thead>
  <tr>
    <th>Id</th>
    <th>Username</th>
    <th>Email</th>
    <th>Password</th>
    <th>Roles</th>

  </tr>
  </thead>
  <tbody>

  <tr th:each="user: ${users}">
    <td th:text="${user.getId()}">user</td>
    <td th:text="${user.getUsername()}">user</td>
    <td th:text="${user.getEmail()}">user</td>
    <td th:text="${user.getPassword()}">user</td>
    <td>
      <ul th:each="role: ${user.getRoles()}" th:text="${role.getName()}">role</ul>
    </td>
    <td>
      <form th:method="DELETE" th:action="@{/admin/{id}/delete (id=${user.getId()})}">
        <input type="submit" value="Delete"/>
      </form>
    </td>

    <td>
      <form th:method="GET" th:action="@{/admin/{id}/edit (id=${user.getId()})}">
        <input type="submit" value="Update">
      </form>
    </td>

  </tr>
  </tbody>
</table>
<br>
<input type="button" value="Add" onclick="window.location.href = '/admin/new'">
<form th:action="@{/logout}">
  <input type="submit" value="Logout"/>
</form>
</body>
</html>