<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update user</title>
</head>
<body>
<h1>Update user</h1>
<br>
<form th:method="PATCH" th:action="@{/admin/{id}(id=${user.getId()})}" th:object="${user}">
    <label for="username">Userame: </label>
    <input type="text" th:field="*{username}" id="username"/>
    <br/>
    <label for="email">Email: </label>
    <input type="text" th:field="*{email}" id="email"/>
    <br/>
    <label for="password">Password: </label>
    <input type="password" th:field="*{password}" id="password"/>
    <br/>
    <label>Select role:
        <input type="checkbox" name="roles"
               th:each="role : ${roles}"
               th:value="${role.getId()}"
               th:text="${role.getName()}"
               th:field="*{roles}"
        />
    </label>
    <br>

    <input type="submit" value="Update"/>

    <form th:action="@{/logout}">
        <input type="submit" value="Logout"/>
    </form>

</form>
</body>
</html>